<div class="row">
    <div class="col-md-2">
        <div class="sidenav">
            <div class="sidebar">
                <strong>Elements</strong>
                <hr />
                <div class="elements" (click) = "addCircle()">
                    <svg height="50" width="300">
                        <circle cx="40" cy="20" r="20" stroke="black" stroke-width="1" fill="none" />
                    </svg>
                    <p>Circle</p>
                </div>

                <hr />
                <div class="elements" (click) = "addRectangle()">
                    <svg height="50" width="300">
                        <rect x="3" y="3" width="50" height="40" fill="none" stroke="black" stroke-width="1" />
                    </svg>
                    <p>Rectangle</p>
                </div>

                <hr />
                <div class="elements" (click) = "addLine()">
                    <svg height="50" width="300">
                        <line x1="0" y1="40" x2="50" y2="20" stroke="black" />
                    </svg>
                    <p>Line</p>
                </div>
                
                <hr />
                <div class="elements" (click)="textShow = !textShow">
                    <svg height="50" width="300">
                        <g>
                            <rect x="3" y="3" width="100" height="40" fill="none" stroke="black" stroke-width="1" ></rect>
                            <text x="10" y="30" font-family="Verdana" font-size="20" fill="black">Text</text>
                        </g>
                    </svg>
                    <p>Text</p>
                </div>
            <div class="text mb-4" *ngIf="textShow" style="border: 1px solid black">
                <form [formGroup]="textForm" (ngSubmit)="addText()">
                    <div class="form-group">
                        <label>
                            Default Text:
                            <input type="text" formControlName="text" class="form-control">
                          </label>
                    </div>

                    <div  class="form-group">
                        <label>
                        Address:
                        <input type="text" formControlName="address" class="form-control">
                        </label>
                    </div>

                    <div  class="form-group">
                      <label>
                        Type:
                        <!--<select id="cars" name="cars">
                          <option value="0">Register</option>
                          <option value="1">Coils</option>
                        </select>-->
                        <input type="text" formControlName="type" class="form-control">
                      </label>
                    </div>
                    <button type="submit" [disabled]="!textForm.valid" class="btn btn-success">Add</button>
                  </form>
            </div>
            <div>
                <button class="btn btn-success btn-block mt-4 mb-3" (click)="saveShema()">Save Schema</button>
                <button class="btn btn-danger btn-block" (click)="deleteElem()">Delete selected element</button>
            </div>
        </div>
    </div>
    </div>
    <div class="col-md-10">
        <div class="w-100 p-1 mb-4 center-bloc elements" align="center" style="background-color: #1c2cc4; border-radius:20px;" >
            <span style="color: #ffffff;"><b>Schema Editor</b></span>
        </div>
        <canvas id="myCanvas" width="950" height="600"></canvas>
    </div>
</div>
